<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>IIITB-create-Account</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <h2 class='text-center'>please Enter your credentials to create account</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mt-5">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" title="Enter your name"required><br>
                        <input type="text" class="form-control" name="phone_no" id="phone_no" pattern='\d{10}'placeholder="Enter phone number" title="pls enter 10 digit numebr"><br>
                        <input type="text" class="form-control" name="Aadhar_no" id="Aadhar_no" pattern="\d{12}" placeholder="Enter Aadhar number" title="pls enter 12 digit number"><br>
                        <label for="DOB">Enter your DOB</label>
                        <input type="date" class="form-control mt-2" name="DOB" id="DOB" placeholder="DOB" title="DOB is required"required><br>
                        <label for="branches">select your Bank Branch</label>
                        <select id="branch" name="branch" class="form-control mt-2">
                            {% for branch in branches %}
                                <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <input type="password" class="form-control" name="password" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="password" title="have atleast 1 cap,1 small,1 special char and 1 number in your password" required><br>
                    
                    </div>
                    <input class="btn btn-success" type="submit" value="Create Account" style="margin-left:10rem;">
                </form>
            </div>
    </div>
</div>
    

    
</body>
</html>